.mainsquare{
    background-color: #fc89ac;
    width: 700px;
    height: 559px;
    margin: 20px auto;
    overflow: auto;
    border: 5px solid #893843; 
    padding: 15px;
}

.minorsquare{
    background-color: #EDCDC2;
    margin-top: 31px;
    width: 680px;
    height: 1000px;
    overflow: auto;
    border: 2px solid #997A8D;
    padding: 1px;
    border-radius: 15px; 
}

.greeting{
    background-color: #e68fac;
    font-size: 18px;
    height: 84px;
    max-width: 690px;
    margin-top: 10px;
    margin-left: 397px;
    overflow: auto;
    border: 5px solid #893843;
    border-radius: 20px;
}
p{
    color: #893843;
    margin-left: 5px;
}

.title {
    color: #893843;
    margin-left: 5px;
    font-size: 60px;  
    font-weight: bolder;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}